<section class="portfolio-header" id="header">
</section>
<section class="section-background">
  <div class="container">
    <ol class="breadcrumb">
    </ol>
  </div>
</section>

<section class="portfolio" id="portfolio">
  <div class="container section-wrapper">
    <h2 class="section-title black">
      portfolio
    </h2>
    <div class="underline purple"></div>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="portfolio-item">
          <div class="portfolio-img">
            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17264819_2229804067245235_1403297039158691512_n.jpg?oh=207fed4ed6f15ddf482b4d5853b9aa3e&oe=59731936" alt="port-1" class="port-item">
            <div class="portfolio-img-hover">
              <a href="#"><img src="<%= image_path 'plus.png' %>" alt="plus" class="plus"></a>
            </div>
          </div>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              Denis Grisel <br><small>Nature</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
