<%= simple_form_for(@product) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, label: 'Nom' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.input :category, label: 'Categorie', collection: ["ruralite", "mer", "rue", "voyage", "portrait", "autre" ]%>
    <%= f.input :photo, label: 'Ajouter une photo depuis votre ordinateur' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>
  </div>
<% end %>
