<div class="row">
  <div class="filters">
    <a href="#all">ALL</a>
    <a href="#ruralite">RURALITE</a>
    <a href="#mer">LA MER</a>
    <a href="#rue">LA RUE</a>
    <a href="#voyage">VOYAGES</a>
    <a href="#portrait">PORTRAITS</a>
    <a href="#autre">AUTRES</a>
  </div>
</div>

<section class="portfolio">
  <div class="container section-wrapper-portfolio">
    <h2 class="section-title black">
      portfolio
    </h2>
    <div class="row">
      <% @products.each do |product| %>
      <div class="sets portfolio-img col-xs-12 col-md-6">
        <a href="#" class="<%=product.category%>">
          <img src="<%=product.photo%>" class='port-item'>
          <div class="portfolio-item-details">
            <div class="portfolio-item-name">
              <%= product.name %><br><small><%= product.description %></small>
            </div>
            <div class="portfolio-item-modify">
              <% if user_signed_in? %>
                <%= link_to 'Modifier', edit_product_path(product), class: 'btn btn-success' %>
                <%= link_to 'Supprimer', product, method: :delete, data: { confirm: 'Êtes-vous sûre?' } , class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
        </a>
        <div class="portfolio-img-hover">
          <a href="<%=product.photo%>" data-lightbox="gallery"><img src="http://res.cloudinary.com/db6cwsgoc/image/upload/v1491817305/plus_nddo0n.png" alt="plus" class="plus"></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
